*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0px auto;

    text-decoration: none;
}
.cate{
justify-content: center;
align-items: center;
text-align: end;
}
.log{
    padding: 10px 32px;
    margin-left: 24px;
    border-radius: 8px;
    
}
.up{
    padding: 10px 32px;
    margin-left: 16px;
    background: #F72585;
    border-radius: 8px;
}
.go{
    margin-left: 520px;
    
}
.logo{
    padding: 40px   ;
}
.jkkl{
    display: flex;
    background-color: #021934;
    padding:110px;    
}
.and{
    margin-left: 100px;
     color: white;
     margin-top: 88px;
}
.and p{
    padding-top: 24px;
}
.img1{
    margin-left: 80px;
}
.img2{
    margin-top: 280px;
}
.kjas{
    margin-left: 100px;
}
.ses{
    text-align: center;
    margin-top: 90px;
}
.des{
    display: block;
    gap: 25px;
    margin-top: 60px;
    text-align: center;
    padding: 8px 72px;

}
.all{
    margin-left: 24px;
    padding: 8px 52px;
    border-radius: 8px;
}
.bus{
    margin-left: 24px;
    padding: 8px 52px;
    border-radius: 8px;
}
.art{
    margin-left: 24px;
       padding: 8px 52px;
       border-radius: 8px;
}
.dev{
    margin-left: 24px;
    padding: 8px 52px;
    border-radius: 8px;
}
.mar{
    margin-left: 24px;
    padding: 8px 52px;
    border-radius: 8px;
    border: none;
    background: transparent;
    
}
.mar:hover{
    background-color: #F72585;;
    color: white;
    border: none;
    transition: 0.10;
}

.csrds {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.car1 {
    width: 295px;
    
    background: #FFFFFF;
    border-radius: 8px;
}

.img {
width: 262.89px;
height: 208px;
background: #CCCCCC;
border-radius: 4px;
}


.btn {
    transform: translate(66px, -16px);
    width: 131px;
height: 32px;
background: #4586D6;
border-radius: 8px;
font-size: 12px;
line-height: 32px;
color: #FFFFFF;
// font-family: 'Montserrat';
text-align: center;
}

.soz {
    margin-top: 20px;
max-width: 240px;
height: 48px;
// font-family: 'Rubik';
font-weight: 500;
font-size: 16px;
line-height: 24px;
// text-transform: capitalize;
// font-feature-settings: 'pnum' on, 'lnum' on;
color: #1C3554;
}

.qq{
    margin-top: 8px;
width: 262.89px;
height: 24px;
font-size: 12px;
line-height: 24px;
color: #F72585;

}

.aa {
    margin-top: 12px;
    display: flex;
    gap: 9px;
}

.son {
    
width: 45.15px;
height: 24px;
font-size: 14px;
line-height: 24px;
color: #808080;
}

.son2 {
    margin-top: 20px;
    display: flex;
    gap: 9px;
}

.ss1{
height: 27px;

font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #CCCCCC;
text-decoration: line-through;
}

.ss2 {
height: 32px;
left: 11.89%;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #1C3554;
}

.aaaa {
margin-top: 40px;}
.jka{
    padding: 15px 85px;
    margin-left: 600px;
    margin-top: 70px;
    background-color: #F72585;
    color:white;
    border: none;
}
.jka:hover{
    
    background-color: #FFFFFF;
    
}
.cater{
    margin-top: 150px;
    margin-left: 145px;
}
.gn {
    
width: 296px;
height: 350px;
left: 104px;
top: 2550px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.gn h4{

color: white;
margin-top: 150px;
}
.sin{
width: 296px;
height: 350px;
left: 416px;
top: 2700px;

/* Other/Overlay 50% */
color: white;
background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.ness{
    margin-top: 290px;
    margin-left: 110px;
}
.dex{

width: 296px;
height: 350px;
left: 728px;
top: 2700px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.dex h4{
margin-left: 102px;
color: white;
margin-top: 290px;
}
.laka{

width: 296px;
height: 350px;
left: 1040px;
top: 2700px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.laka h4{
margin-left: 110px;
color: white;
margin-top: 290px;
}
.hgt{

width: 296px;
height: 350px;
left: 104px;
top: 3100px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.hgt h4{
    color: white;
    margin-top: 278px;
    margin-left: 90px;
}
.kjq h4{
    color: white;
    margin-top: 270px;
    margin-left: 90px;
}
.kjq{
width: 296px;
height: 350px;
left: 416px;
top: 3100px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}

.sed h4{
    color: white;
    margin-top: 270px;
    margin-left: 90px;

}
.sed{
    
width: 296px;
height: 350px;
left: 728px;
top: 3100px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.aab{
    
width: 296px;
height: 350px;
left: 1040px;
top: 3100px;

/* Other/Overlay 50% */

background: #000000;
opacity: 0.5;
border-radius: 8px;
}
.aab h4{
    color: white;
    margin-top: 270px;
    margin-left: 90px;
}
.dis{
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
}
.vid{
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 200px;
}
.mon{
    margin-left: 330px;
    margin-top: 8px;
}
.ent{
    margin-left: 180px;
    margin-top: 8px;
}
.hglt{
    display: flex;
}
.tor{
    margin-left: 170px;
    margin-top: 8px;
}
.ika{
    margin-left: 180px;
    margin-top: 8px;
}
.plac{
    margin-top: 160px;
    margin-left: 100px;
}
.aew{
    display: flex;
    
}
.knb{
    margin-top: 260px;
    margin-left: 50px;
}
.knb p{
    margin-top: 25px;
}
.artq{
    padding: 16px 40px;
    margin-top: 50px;
    background-color: #F72585;
    border-radius: 8px;
    border: none;
    color: white;
}
.ima{
    margin-top: 220px;
    margin-left: 180px;
}
.dfs{
    display: flex;

}
.gai{
    margin-top: 287px;
    margin-left: 50px;
}
.gai h3{
    margin-top: 30px;

}
.gai p{
    margin-top: 8px;
}
.kae{
    text-align: center;
    margin-top: 160px;
}
.ija{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 100px
    ;
}
.ikaz{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 100px
    ;
}
.blo{
    margin-left: 100px;
}
footer{
width: 1520px;
height: 435px;
left: 40px;
top: 514px;
background: #021934;
border-radius: 8px;
}
.jah{
    margin-left: 100px;
    color: white;
    margin-top: 60px;
}

.bac{
    display: flex;
    margin-top: 60px;
}
.rds{
    margin-top: 60px;
    margin-left: 80px;
}
.hads{
    margin-left: 400px;
}














































footer {
    background: #021934;
  border-radius: 8px;
   }
  
   .footer {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
   }
  
   .ff-chap {
    padding-top: 80px;
   }
  
   .ff-chap p {
    margin-top: 36px;
    max-width: 440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #c0bfbf;
   }
   .ff-chap .pp {
    margin-top: 139px;
    padding-bottom: 40px;
  
    font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #c0bfbf;
   }
  
   .ff-ong {
  width: 600px;
    // border: 2px solid red;
    margin-top: 80px;
    display: flex;
    gap: 120px;
    justify-content: space-around;
    // flex-wrap: wrap;
   }
  
  //  .fo-1 {
  //   display: flex;
  //   justify-content: space-between;
  //  }
  
   .fo-1 h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  
   }
  
   .fo-1 h1 a {
    text-decoration: none;color:#FFFFFF;
   }
  
   .fo-1 .pp {
    margin-top: 30px;
   }
   .fo-1 p {
    margin-right: px;
    margin-top: -px;
    font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
   }

   .asd{
    margin-left: 100px;
   }
   .ips{
    margin-left: 100px;
   }
  
   .fo-1 p a {
    text-decoration: none;
    color:#FFFFFF;
   }
  
   .fo-1 .ppp {
    max-width: 600px;
    transform: translate(0px,70px);
    // margin-top:-50px;
    margin-left: -300px;
    font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: right;
  color: #c0bfbf;
   }